@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0 ;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    font-style: normal;
    overflow-x: hidden;
  
}

.navbar {
    
    display: flex;
    flex-flow: row wrap;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #b3b2b3;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 0;
}


.logo1{
    width: 70px;
    height: 50px;
    text-align: left;
    margin-left: 5%;
    float: left;
    
    }

.menu{ 
    
 
    flex: 60%;
    text-align: center;
    padding: 2px;
    justify-content: center; 
    align-items: center;
    
    
}
#a, #b , #c{
    
    font-size: 15px;
    letter-spacing: 2px;
    color: rgb(17, 0, 13);
    display: inline;
    margin: 5px;
    width: 100%;
    cursor: pointer;
    margin-top: 0;

}

#p, #pa, #pb {
    display: none;
    height: 100%;
    background: white;
    color:black;
   
    margin-top: 1%;
    

}
a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 9PX;
    color: rgb(153, 0, 255);

   
}
a:hover{
    color: #e6d700;
    border-bottom:1px solid rgb(153, 0, 255);


}
#a:hover, #b:hover , #c:hover{  border-bottom: 2px solid rgb(153, 0, 255);
    color:rgb(255, 238, 0) 
}
.menu a:hover{
    
    color:rgb(255, 238, 0)
}
#botão{ 
    background: rgb(153, 0, 255);
    padding: 10px 25px;
    color: white;
    border-radius: 15px;
    float: right;
    margin-right: 2%;
    text-decoration: none;
   
   
   

}
#botão:hover{ background: hsl(49, 97%, 49%);
   color: black;
    border: none;
   

}
.header{
    /* background-color: #a500e6; */
    background-image: url(../Img/photo_2024-11-06_10-32-40.jpg);
    background-size: contain;
    display: flex;
    height: 600px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    

}
.headline{ flex: 45%;
   /* border: 1px solid #a500e6; */
    margin-left: 5%;
    
    
}
.headline h1{ color: white;
    font-weight: 800;
    display: flex;
    flex-flow: row wrap;
    

}
.img-headline{ flex: 30%;
    flex-flow: row wrap;
    border: 1px solid #e6d700;
    margin-right: 5%;
    margin-left: 10%;
    background: white;
    height: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bilhet{
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(153, 0, 255);
    height: 50px;
}
.bilhet:hover{ color: rgb(153, 0, 255);
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
.submit{
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 80%;
    background: rgb(153, 0, 255);
   padding: 5px;
   margin-top: 20px;
    height: 40px;
    border-radius: 15px;
    border: none;
   
}
.submit:hover{
    background: hsl(49, 97%, 49%);
   color: black;
    border: none;
}

section{
    width: 100%;
    display: inline-block;
    margin-top: 80px;

    /* border: 1px solid rgb(17, 0, 13); */
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
section h2{
    width: 100%;
    font-size: 30px;
   color: rgb(153, 0, 255);
   margin-bottom: 0;

}
article{
   
    
    margin-top: 50px;

    /* border: 1px solid rgb(17, 0, 13); */
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    align-items: center;
    justify-content: center;
}
article h3{
    width: 100%;
    font-size: 30px;
   color: rgb(153, 0, 255);
   margin-bottom: 0;
}
.serviços{ 
    display: flex ;
    margin-top: 40px;
    width: 90%;
    overflow-x: scroll;

    

}
.card{ 
    display: inline;
    width: 300px;
    margin: 1%;
    padding: 2%;
    border: 1px solid rgb(255, 238, 0);
    border-radius: 5%;
    text-align: left;
    min-width: 350px;
    justify-content: center;
    align-items: center;
    
}
.card1{
    display: flex;
    width: 100%; 
    justify-content: center; 
    align-items: center;
    gap: 40px;
}
.card2{
    display: inline-block;
    width: 40%;
    
}
.card-img{
    height: 400px;
    width: 90%; 
    border-radius: 30px;
    margin-right: 90px;



}
footer{
    display: inline-block;
    border-top: 2px solid rgb(255, 238, 0);
    margin-top: 100px;
    height: 100%;
    background-image: linear-gradient(black, rgba(123, 2, 160, 0.993));
    width: 100%;
}
.rodape{
    display: flex;
    color: white;
    margin: 2%;
    justify-content: center;
    align-items: center;
    width: 100%;


}
.cardR{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}

.email{
    position: fixed;
    bottom: 5px;
    right: 20px;

    
}
.Saiba{
    
 border: transparent;
 color:rgb(153, 0, 255);
 background: white;
 letter-spacing: 2px;

}
.Saiba:hover{
    height: 25px;
    color:#ffe600;
  
}
p{
    line-height: 2;
  }
